.app {
  background: #FAFAFB;
}
.login-gradient {
  background: linear-gradient(180deg, #d4e0f5 0%, #c8cee6 100%);
  mix-blend-mode: normal;
}

.google-button {
  background: #FC5A5A;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14.84px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF; 
}

.login-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25.2px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.105px;
  color: #232324;
}

.search-box {
  background: #F1F1F1;
  border-radius: 6px;
}

.user-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12.6px;
  line-height: 13px;
  /* identical to box height, or 100% */
  letter-spacing: 0.09px;
  color: #171725;
}

.sidemenu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;  
}

.sidemenu-active {
  background: linear-gradient(180deg, #6B85E6 0%, #6895E6 100%);
  border-radius: 16.5926px;
  color: #FFFFFF;
}

.overview-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  /* identical to box height, or 164% */

  text-align: left;
  letter-spacing: 0.1px;

  color: #171725;
}

.dashboard-selector {
  background: #FFFFFF;
  border-radius: 8px;
}

.dashboard-selector-text {
  top: calc(50% - 24px/2 - 305px);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.1px;

  color: #44444F;
}

.dashboard-selector-active {
  background: linear-gradient(180deg, #6B85E6 0%, #6895E6 100%);
  border-radius: 8px;
  color: #FFFFFF;
}

.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #171725;
}

.progress-bar {
  border-radius: 7px; 
  width: 80%;
  height: 20px;
  /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
}
.progress-bar::-webkit-progress-bar {
  background-color: #D4EAFA;
  border-radius: 7px;
}
.progress-bar::-webkit-progress-value {
  background-color: #64B3EB;
  border-radius: 7px;
  /* box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 ); */
}

.success-rate {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #171725;
}

.task-create-form {
  background: linear-gradient(238.59deg, #34316D 4.35%, #4464AA 110.31%, #827EE1 110.31%);
  border-radius: 20.7px;
}

.task-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.09375px;

  color: #F6F6F6;
}

.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  letter-spacing: 0.0857143px;

  color: #EAEAEA;
}

.input-area {
  background: #FFFFFF;
  mix-blend-mode: normal;
  background-color: rgba(0, 0, 0, 0.09);
  border: 0.4px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  border-radius: 6px;
}

.input-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  /* identical to box height, or 185% */

  letter-spacing: 0.0928571px;
  opacity: 1;
  color: #F6F6F6;
}

.form-button {
  background: #FFFFFF;
  border-radius: 10.0062px;
}

.form-button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.1px;
}

.person-align {
  position: absolute;
  right: 30px;
}

.filter-border {
  background: #FFFFFF;
  border: 1px solid #F1F1F5;
  border-radius: 10px;
}

.card {
  background: #FFFFFF;
  border-radius: 20px;
}

.table-column-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: #44444F;
}

.table-row-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.2px;

  color: #171725;
}

/* .checkbox {
  background: #3DD598;
  border: 0.9px solid #3DD598;
  box-sizing: border-box;
} */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 0.9px solid #D4D4D4;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #3DD598;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label-completed {
  background: #ecfbf5;
  mix-blend-mode: normal;
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #3DD598;
}


.label-pending {
  background: #e9f3fb;
  mix-blend-mode: normal;
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #50B5FF;
}

