.login-gradient {
  background: linear-gradient(180deg, #d4e0f5 0%, #c8cee6 100%);
  mix-blend-mode: normal;
}

.google-button {
  background: #FC5A5A;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14.84px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF; 
}

.login-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25.2px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.105px;
  color: #232324;
}

